form.search.well.form-inline(method='post')
  .inputs
    input.query(name="query", type='text', placeholder='Type anything')
    input.submit.btn.btn-primary(type='submit', value='Search')

if cards
  h3= cards.length+" results"
  section.cards.row
    each card in cards
      article.card.span6
        img(src=router.image(card.gathererId())).image
        h3.name: a(href=router.card(card.gathererId()))= card.name
        h4= "Creature - Merfolk Wizard"
        each rule in card.rules
          p.rule= rule