include _search_form

aside.meta
  cite.badge= "Found: "+pager.totalItems+" cards"

if cards && cards.length
  include _pagination

  section.cards.row
    each card in cards
      article.card.span6
        img(src=app.gatherer.router.image(card.gathererId())).image
        .text
          h3.name: a(href=app.gatherer.router.card(card.gathererId()))= card.name
          h4
            span.types= card.names('types')
            if card.subtypes.length > 0
              span.subtypes= " - "+card.names('subtypes')
            if card.has('types', 'Creature')
              span.strength= " ("+card.power+"/"+card.toughness+")"
            if card.has('types', 'Planeswalker')
              span.strength= " ("+card.loyalty+")"
          each rule in card.rules
            p.rule= rule

  include _pagination
