form.search.well.form-inline(method='get')
  .inputs
    input.query(name="query", type='text', placeholder='Type anything')
    input.submit.btn.btn-primary(type='submit', value='Search')

if cards.length
  .paging.btn-group
    for page in pager.pagination()
      - active = page.active ? "btn-primary" : ""
      - disabled = page.disabled ? "disabled" : ""
      a.btn(href="#",class=active+" "+disabled)= page.name
  h3= cards.length+" results of "+pager.totalItems
  section.cards.row
    each card in cards
      article.card.span6
        img(src=router.image(card.gathererId())).image
        .text
          h3.name: a(href=router.card(card.gathererId()))= card.name
          h4
            span.types= card.typeNames(categories.id.types)
            if card.subtypes.length > 0
              span.subtypes= " - "+card.subtypeNames(categories.id.subtypes)
          each rule in card.rules
            p.rule= rule